version: "3.9"

services:
  product-service:
    build: ./product-service
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - product-service

volumes:
  mongo-data:
